* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.truncate-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* ONE LINE RESPONSE */
  -webkit-box-orient: vertical;
}




.clear-btn {
  background: none;
  border: none;
  color: #6b7280;
  cursor: pointer;
  margin-bottom: 12px;
}

.history-card {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background: #f9fafb;
}

.history-card p {
  margin: 6px 0;
  color: #374151;
}

.history-card small {
  color: #9ca3af;
}



.history-panel {
  overflow-y: auto;
  max-height: 100vh;
  scrollbar-width: thin;          /* Firefox */
  scrollbar-color: #A6A09B #f1f1f1;
}

/* Chrome, Edge, Safari */
.history-panel::-webkit-scrollbar {
  width: 6px;
}

.history-panel::-webkit-scrollbar-track {
  background: transparent;
}

.history-panel::-webkit-scrollbar-thumb {
  background-color: #efdf9f;
  border-radius: 12px;
}
